@import '~/src/scss/index.scss';

.how-my-courses-work {

    > h2{
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        color: $text_light;
        margin: 0;
    }

    > h4 {
        color: $text_light;
        font-weight: 100;
        margin: 0;
        text-align: center;
        font-size: 14px;
        opacity: .6;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        > div{
            width: 33.33%;
            color: $text_light;
            text-align: center;

            > div{
                margin: 15px;
                padding: 30px;
                box-shadow: 0 0 10px 2px rgb(0 0 0/75%);
                border-radius: 10px;

                i {
                    margin: 0;
                    font-size: 40px;
                }
                
                p {
                    font-size: 12px;
                    opacity: .4;
                }
            }

        }
    }
}