$primary: #38d3be;
$primaryHover: #32bdaa;

// text
$text-light: #fff;

// background 
$backgroundDark: #1a1919;
$backgroundGrey: #434141;
$backgroundDarkWeb: #090909;

// border 
$borderGrey: #534852;

// status 
$success: #36a30a;
$error: #a41a1a;

// social color 
$youtube: #820a0a;
$facebook: #153db6;
$linkedin: #2026d0;